<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <title>{{title}}</title>
</head>
<body>
<div class="modal-dialog-centered">
    <div class="container content">
        {{content}}
        <div class="container font-monospace fixed-top w-75 top-0">
            <div
                    class="alert alert-danger msg lead d-none"
                    id="msg-label"
                    role="alert">
            </div>
        </div>
    </div>
</div>
</body>
</html>