<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <title>{{title}}</title>

</head>
<body>
<div class="modal-dialog-centered">
    <div class="container content">
        <h1 class="mb-4">Join/Login</h1>
        <div class="container form">
            <div class="input-group">
                <div class="input-group mb-3">
                    <span class="input-group-text form-input-label" id="username-group">Username</span>

                    <input
                            type="text"
                            id="username"
                            class="form-control mr-4"
                            aria-label="Username"
                            aria-describedby="username-group"
                    />
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text form-input-label" id="password-group">Password</span>

                    <input
                            type="text"
                            id="password"
                            class="form-control mr-4"
                            aria-label="Password"
                            aria-describedby="password-group"
                    />
                </div>


            </div>
        </div>
        <button type="button" id="enter" class="btn btn-warning btn-lg w-25">
            Enter
        </button>

        <div class="container font-monospace fixed-top w-75 top-0">
            <div
                    class="alert alert-danger msg lead d-none"
                    id="msg-label"
                    role="alert">
            </div>
        </div>
    </div>
</div>
</body>
</html>